.mat-card-large {
  width: 500px;
}
.margin-form {
  margin-top: 10px;
}
.input-full-width {
  width: 220px;
  height: 70px;
  margin-left: 5px;
}
.button-margin {
  margin-right: 260px; /* Ajustez la valeur de la marge à votre convenance */
}
.header-blue {
  color: blue;
  justify-content: center;
}
.mat-grid-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
