<mat-grid-list cols="1" rowHeight="3:1" class="mat-grid-list">
  <mat-grid-tile>
    <mat-card class="mat-card-large">
      <mat-card-header class="header-blue">S'inscrire</mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="margin-form">
        <form>
          <mat-form-field class="input-full-width">
            <mat-label>Nom</mat-label>
            <input type="text" matInput placeholder="Nom" />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <mat-label>Code fiscal</mat-label>
            <input type="text" matInput placeholder="Code fiscal" />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <mat-label>Adresse 1</mat-label>
            <input type="text" matInput placeholder="Adresse 1" />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <mat-label>Adresse 2</mat-label>
            <input type="text" matInput placeholder="Adresse 2" />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <mat-label>Ville</mat-label>
            <input type="text" matInput placeholder="Ville" />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <mat-label>Code postal</mat-label>
            <input type="text" matInput placeholder="Code postal" />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <mat-label>Pays</mat-label>
            <input type="text" matInput placeholder="pays" />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <mat-label>Mot de passe</mat-label>
            <input type="password" matInput placeholder="Mot de passe" />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <mat-label>Confirmer mot de passe</mat-label>
            <input
              type="password"
              matInput
              placeholder="Confirmer mot de passe"
            />
          </mat-form-field>
          <a mat-button class="button-margin" href="#" target=""
            >Se Connecter</a
          >
          <button mat-raised-button color="primary">S'inscrire</button>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
