.mat-card-large {
  width: 500px; /* Définissez la largeur souhaitée en pixels */
}
.margin-form {
  margin-top: 30px;
}
.input-full-width {
  width: 100%;
}
.button-margin {
  margin-right: 260px; /* Ajustez la valeur de la marge à votre convenance */
}
.header-blue {
  color: blue;
}
